header {
  /* border: red solid 2px; */
  padding: 20px;
}

header img {
  width: 150px;
  margin-left: 10px;
  padding-bottom: 10px;
}

header nav{
  display: inline;
  margin-left: 30%;
}

.menu {
  padding-right: 30px;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  color: #444;
}


#pr {
  height: 500px;
  margin-left: 30%;
  /* border: violet solid 1px; */
}

#inicio {
  background-color: #fafafa;
  /* border: red solid 2px; */
}

#title h1 {
  font-size: 60px;
}

#title button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  color: #444;
  font-size: 20px;
  font-weight: 600;
  background-color: aquamarine;
}

#title {
  display: inline-block;
  margin-left: 20px;
  text-align: center;
  /* border: blue solid 2px; */
  position: absolute;
  margin-top: 30px;
}

#artigo p, #nav-link li {
  font-size: 25px;
}

#artigo h2 {
  font-size: 40px;
}

#artigo li, #nav-link h2 {
  font-size: 30px;
}

#artigo {
  width: 70%;
  padding: 20px 80px 0px 40px;
  /* border: red solid 1px; */
  display: inline-block;
  border-right: 1px solid rgba(17, 16, 16, 0.256);
}

#nav-link {
  display: inline-block;
  width: 30%;
  /* border:green solid 1px; */
  position: absolute;
  margin-top: 50px;
  margin-left: 60px;
}

#nav-link a {
  text-decoration: none;
  color: #444;
}

#nav-link a:hover {
color: #448;
}

#nav-link li {
  margin-bottom: 15px;
}

#container {
  width: 85%;
  margin: 0 auto;
}