header {
  /* border: red solid 2px; */
  padding: 20px;
}

header img {
  width: 150px;
  margin-left: 10px;
  padding-bottom: 10px;
}

header nav{
  display: inline;
  margin-left: 600px;
}

.menu {
  padding-right: 30px;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  color: #444;
}

