header {
  /* border: red solid 2px; */
  padding: 20px;
}

header img {
  width: 150px;
  margin-left: 10px;
  padding-bottom: 10px;
}

header nav{
  display: inline;
  margin-left: 30%;
}

.menu {
  padding-right: 30px;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  color: #444;
}


#pr {
  height: 500px;
  margin-left: 30%;
  /* border: violet solid 1px; */
}

#inicio {
  background-color: #fafafa;
  /* border: red solid 2px; */
}

#title h1 {
  font-size: 60px;
}

#title button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  color: #444;
  font-size: 20px;
  font-weight: 600;
  background-color: aquamarine;
}

#title {
  display: inline-block;
  margin-left: 20px;
  text-align: center;
  /* border: blue solid 2px; */
  position: absolute;
  margin-top: 30px;
}